html,
body
{
	width:  100%;
	height: 100%;
}

.b-finder
{
	font-family: Verdana, Arial, sans-serif;
	font-size:   0.8em;

	position: fixed;
	top:      0;
	left:     0;
	z-index:  9999;

	width:  100%;
	height: 100%;
}

.b-finder_hidden_yes
{
	display: none;
}

.b-finder__valign
{
	vertical-align: middle;
}

.b-finder__window
{
	position: relative;

	margin:  auto;
	width:   904px;
	padding: 0 4px;

	background: #F7F0E8;

	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius:  0.5em;
	-moz-border-radius-topright:     0.5em;
	-moz-border-radius-topleft:      0.5em;
	border-top-right-radius:         0.5em;
	border-top-left-radius:          0.5em;

	-webkit-box-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
	-moz-box-shadow:    0 2px 5px rgba(33, 33, 33, 0.5);
	box-shadow:         0 2px 5px rgba(33, 33, 33, 0.5);
}

.b-finder__hat
{
	font-size: 1.2em;

	text-align: center;

	padding: 0.4em;
}

.b-finder__hide
{
	font-size: 1.6em;

	cursor:   pointer;
	position: absolute;
	top:      0;
	right:    0.1em;

	color: #968A72;

	-webkit-user-select: none;
	-moz-user-select:    none;
}

.b-finder__hint
{
	font-size: 0.8em;

	text-align: center;

	padding: 0.3em;
}

.b-finder__search
{
	position: absolute;
	top:      0.4em;
	left:     1.6em;
}

.b-finder__clear
{
	font-size: 1.1em;

	cursor:   pointer;
	position: absolute;
	top:      -0.1em;
	left:     147px;

	color: #968A72;
}

.b-finder__filter
{
	cursor:   pointer;
	position: absolute;
	top:      0.3em;
	left:     -1.3em;

	width:  10px;
	height: 10px;

	background: #C7F192;
	border:     #CDCDCD solid 1px;

	-webkit-border-radius: 7px;
	-moz-border-radius:    7px;
	border-radius:         7px;
}

.b-finder__filter_active_yes,
.b-finder__filter:hover
{
	border-color: #777;
}

.b-finder__field
{
	width:   160px;
	padding: 0.1em 1.4em 0.1em 0.2em;

	background: #FFF;
	border:     #CDCDCD solid 1px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.b-finder__field:focus
{
	border-color: #777;
}

.b-finder__cols
{
	display: none;

	width:    100%;
	overflow: auto;
}

.b-finder__cols_mode_watch .b-finder__found
{
	display: none;
}

.b-finder__cols_mode_search .b-finder__group
{
	display: none;
}

.b-finder__cols_active_yes
{
	display: block;
}

.b-finder__cols_x_1 .b-finder__col
{
	width: 904px;
}

.b-finder__cols_x_2 .b-finder__col
{
	width: 450px;
}

.b-finder__cols_x_3 .b-finder__col
{
	width: 299px;
}

.b-finder__cols_x_4 .b-finder__col
{
	width: 223px;
}

.b-finder__col
{
	float: left;

	height:   500px;
	margin:   0 0 0 4px;
	overflow: auto;

	background: #FFF;
}

.b-finder__col:focus
{
	outline: none;
}

.b-finder__col:first-child
{
	margin-left: 0;
}

.b-finder__group
{
	display: none;
}

.b-finder__group_expanded_yes
{
	display: block;
}

.b-finder__row
{
	font-family: Verdana, Arial, sans-serif;
	font-size:   0.9em;

	white-space: nowrap;

	cursor: pointer;

	width:    100%;
	padding:  0.3em 0.5em;
	overflow: hidden;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;

	-webkit-user-select: none;
	-moz-user-select:    none;
}

.b-finder__row_expandable_yes
{
	position: relative;
}

.b-finder__row_expandable_yes:after
{
	font-family: Times, serif;
	font-size:   1.5em;

	content:  '›';
	position: absolute;
	top:      0;
	right:    0;

	padding: 0.1em 0.2em 0.2em 0.5em;

	background: inherit;
}

.b-finder__row_expanded_yes,
.b-finder .b-finder__row_expanded_yes:hover
{
	background: #DCD5AE;
}

.b-finder .b-finder__row_selected_yes,
.b-finder .b-finder__row_selected_yes:hover
{
	background: #C7F192;
}

.b-finder__row:hover,
.b-finder__row_hovered_yes
{
	background: #FFFAE1;
}

.b-finder .b-finder__row_loading_yes,
.b-finder .b-finder__row_loading_yes:hover
{
	background: #C7F192 url(b-finder__row_loading_yes.gif) repeat-x 0 center;
}

.b-finder__row_loading_yes:after
{
	background-image: none;
}

.b-finder__highlight
{
	font-weight: bold;
}